body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h1 {
  color: #ded4d4;
}

h2 {
  color: #000;
}

p {
  font-size: 1.1rem;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#message {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #007BFF;
}